caption
{
  font-size: 3em;
  font-weight: bold;
}
table
{
  width:80%;
  margin: 0 auto;
  font-weight: bold;
  text-align:center;
  text-transform: Capitalize;
}

tbody, tfoot
{
  empty-cells: hide;
}

td, th
{
  height: 3.5em;
  border: 1px;
  border-style: solid;
  padding: 0em;
}

.thin
{
  width: 1em;
  border: 0;
}